@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: 'Yeseva One';
    font-weight: 400;
    text-transform: uppercase;
}

p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.header {
    font-size: 11px;
    background-color: #131313;
}

.header__container {
    box-sizing: border-box;
    height: 83px;
    width: 1276px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #E3B873;
    text-decoration: none;
    text-transform: uppercase;
}

.header__contacts {
    display: flex;
    gap: 45px;
    align-items: center;
}

.menu {
    padding: 0;
    display: flex; 
    gap: 47px;
}

.menu__item {
    list-style: none;
}

.menu__links {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu__links_active {
    color: #E3B873;
}

.header__tel {
    color: #E3B873;
}

.btn {
    box-sizing: border-box;
    border: none;
    background-color: #E3B873;
    color: #FFFFFF;
    border-radius: 2px;
    text-transform: uppercase;
}

    .btn:hover {
        cursor: pointer;
    }

.header__btn {
    font-style: italic;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    padding: 13px 33px;
}

.top {
    height: calc(100vh - 83px);
    background-image: url(../img/image\ 4.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    color: #FFFFFF;
}

.top__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.top__wrapper {
    box-sizing: border-box;
    width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.top__inner {
    box-sizing: border-box;
    width: 520px;
    padding-top: 16.3%;
}

.top__title {
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 19px;
}

.title__mark {
    color: #E3B873;
}

.top__text {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 24px;
}

.top__btn1 {
    font-size: 11px;
    font-style: italic;
    padding: 20px 42px;
    margin-right: 20px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.top__btn2 {
    font-size: 11px;
    font-style: italic;
    padding: 19px 23px;
    background: none;
    border: 1px solid #FFFFFF;
}

.projects {
    background-color: #131313;
    height: 1074px;
}

.projects__wrapper {
    box-sizing: border-box;
    width: 1190px;
    padding: 107px 10px;
    margin: 0 auto;
    display: flex;
}

.projects__description {
    box-sizing: border-box;
    padding-right: 50px;
    width: 492px;
    
    position: relative;
}

.projects__title {
    font-size: 27px;
    color: #E3B873;
    max-width: 255px;
    margin-top: 70px;
    margin-bottom: 34px;
}

.projects__text {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.projects__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 31px;
}

.cell_title {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
    margin-bottom: 9px;
}

.cell__text {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.mobile-slider {
    display: none;
}

.slider__nav {
    box-sizing: border-box;
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.slider__button:hover {
    cursor: pointer;
}

.slider__button-ar {
    border: none;
    background: none;
    width: 42px;
    height: 14px;
    background-image: url(../img/arrow.svg);
    margin-right: 12px;
}

.slider__button-ar_reverse {
    margin-right: 0;
    margin-left: 12px;
    transform: rotate(180deg);
}

.slider__button-pt {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;

}

.slider__button-pt_active {
    background-color: #FFFFFF;
}

.slider__tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    margin-bottom: 45px;
}

.slider__tab {
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    background: none;
    border: none;

    height: 24px;
}

    .slider__tab:first-child {
        justify-self: start;
    }

    .slider__tab:last-child {
        justify-self: end;
    }

.slider__tab_active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.online-control {
    margin-top: -324px;
    margin-bottom: 148px;
}

.online-control__wrapper {
    width: 817px;
    padding: 0 10px;
    margin: 0 auto;
}

.online-control__title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.online-control__icon {
    width: 114px;
    height: 28px;
    margin: 0 auto;
    margin-bottom: 31px;
    background-image: url(../img/camera.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

    .online-control__icon::before {
        content: url(../img/line.svg);
        height: 28px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: right center;
        margin-right: 25px;
    }

    .online-control__icon::after {
        content: url(../img/line.svg);
        height: 28px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: right center;
        margin-left: 25px;
    }

.online-control__video {
    position: relative;
    margin-bottom: 98px;
}

    .online-control__video::after {
        content: url(../img/line2.svg);
        position: absolute;
        bottom: -62px;
        left: calc(50% - 27.5px)
    }

    
.online-control__preview {
    position: relative;
}

    .online-control__preview::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
    }

.play-btn {
    padding: 0;
    width: 86px;
    height: 86px;
    position: absolute;
    top: calc(50% - 43px);
    left: calc(50% - 43px);
    border: none;
    border-radius: 50%;
    background-color: #E3B873;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    background-position: 55% center;
    
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

    .play-btn:hover {
        cursor:pointer
    }

.online-control__text {
    width: 580px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 92px;
}

.request__container {
    width: 770px;
    margin: 0 auto;
}

.request__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 33px;
}

.field__label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.field__input {
    height: 32px;
    width: 241px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

    .field__input:focus {
        outline: 0;
    }

.request__btn {
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    width: 200px;
    height: 51px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.request__checkbox {
    width: fit-content;
    margin: 0 auto;
    margin-top: 33px;
}

.checkbox__label {
    font-size: 14px;
    line-height: 163.68%;
    display: flex;
    align-items: center;
}

.checkbox__label:hover {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
  }
  .fake::before {
    content: url(../img/check-mark.svg);
    opacity: 0;
    transition: .2s;
  }
  
  .checkbox:checked + .fake::before {
    opacity: 1;
  }

  .checkbox__text {
    padding-left: 4px;
    padding-top: 2px;
  }






@media (max-width: 1300px) {
    .header__nav, .header__btn {
        display: none;
    }
    
    body {
        min-width: 336px;
    }

    .header {
        display: flex;
        justify-content: center;
    }
    .header__container {
        height: 57px;
        width: 100%;
        max-width: 580px;
        padding: 0 18px;
        margin: 0;
    }

    .header__tel {
        color: #FFFFFF;
        text-decoration: none;
    }

    .top {
        height: calc(100vh - 57px);
        max-height: 1080px;
        min-height: 480px;
    }
    
    .top__overlay {
        display: flex;
        justify-content: center;
    }

    .top__wrapper {
        width: 100%;
        max-width: 500px;
        margin: 0;
        padding: 0 18px;
        padding-top: calc(20vh - 85px);
    }

    .top__inner {
        width: 100%;
        max-width: 339px;
        min-width: 300px;
        padding-top: 85px;
        padding-bottom: 61px;
    }

    .top__title {
        font-size: 23px;
        line-height: 132.83%;
        max-width: 300px;
        margin-bottom: 16px;
    }

    .top__text {
        font-size: 14px;
        line-height: 135.84%;
        max-width: 300px;
    }

    .btn {
        border-radius: 0;
        width: 100%;
        min-width: 300px;
    }

    .top__btn1 {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .projects {
        display: flex;
        justify-content: center;
        height: fit-content;
    }

    .projects__wrapper {
        width: calc(100% - 300px);
        max-width: 480px;
        min-width: 300px;
        margin: 0;
        padding: 36px 18px;
        flex-direction: column;
        align-items: center;
    }

    .projects__description {
        padding-right: 0px;
        width: 100%;
        max-width: 768px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__title {
        max-width: 220px;
        margin-top: 0;
        margin-bottom: 22px;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
    }

    .projects__text {
        max-width: 470px;
        text-align: center;
        font-size: 11px;
        line-height: 158.48%;
    }

    .mobile-slider {
        display: block;
        width: 100%;
        margin-bottom: 36px;
        position: relative;
    }

    .mobile-slider__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: calc(50% - 18px);
    }

    .mobile-slider__img {
        width: 100%;
    }

    .mobile-slider__ar {
        width: 36px;
        height: 36px;
        background-color: #E3B873;
        background-image: url(../img/arrow-mobile.svg);
        background-repeat: no-repeat;
        background-position: 55% center;
        border-radius: 50%;
        margin-right: 13px;
    }

    .mobile-slider__ar_left {
        transform: rotate(180deg);
        margin-right: 0;
        margin-left: 13px;
    }

    .mobile-slider__ar:hover {
        cursor: pointer;
    }

    .projects__table {
        grid-template-rows: 68px 68px;
        row-gap: 25px;
    }

    .cell_title {
        font-size: 14px;
        line-height: 138.6%;
    }

    .cell__text {
        font-size: 11px;
        line-height: 18px;
    }

    .slider__nav, .projects__slider {
        display: none;
    }

    .online-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #131313;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 50px;
    }

    .online-control__wrapper {
        width: calc(100% - 300px);
        max-width: 480px;
        min-width: 300px;
        margin: 0;
        padding: 0 18px;
    }

    .online-control__title {
        font-size: 22px;
        line-height: 138.6%;
    }

    .online-control__video {
        margin-bottom: 51px;
    }

        .online-control__video::after {
            content: url(../img/line2.svg);
            position: absolute;
            bottom: -28px;
            left: calc(50% - 27.5px)
        }

    .preview__img {
        max-width: 100%;
    }

    .play-btn {
        transform: scale(43%);
    }

    .online-control__text {
        color: #FFFFFF;
        width: 100%;
        margin-bottom: 75px;
    }

    .request__container {
        width: 100%;
    }

    .request__wrapper {
        flex-direction: column;
        width: 100%;
    }

    .request__checkbox {
        margin: 0;
        margin-top: 25px;
        align-self: start;
        order: 1;
    }

    .request__field {
        width: 100%;
    }
    
        .request__field:first-child{
            margin-bottom: 40px;
        }

    .field__label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }

    .field__input {
        width: 100%;
        background: none;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
    }

        .field__input::placeholder {
            color: #FFFFFF;
        }

    .request__btn {
        order: 2;
        margin-top: 62px;
    }

    .checkbox__label {
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }
}






@media (max-width: 320px) {

    body {
        min-width: 320px;
    }

    .header__container, .top__wrapper {
        padding: 0 10px;
    }

    .projects__wrapper {
        padding: 36px 10px;
    }
}