@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&family=Yeseva+One&display=swap');
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

h1, h2, h3, h4 {
    padding: 0;
    margin: 0;
    font-family: 'Yeseva One';
    font-weight: 400;
    text-transform: uppercase;
}

p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.header {
    width: 100%;
    font-size: 11px;
    background-color: #131313;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;
    transition: transform .1s linear;
}

    .header_hide {
        transform: translateY(-83px);        
    }

.header__container {
    box-sizing: border-box;
    height: 83px;
    width: 1276px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    color: #E3B873;
    text-decoration: none;
    text-transform: uppercase;
}

.header__contacts {
    display: flex;
    gap: 45px;
    align-items: center;
}

.menu {
    padding: 0;
    display: flex; 
    gap: 47px;
}

.menu__item {
    list-style: none;
}

.menu__links {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.menu__links_active {
    color: #E3B873;
}

.header__tel {
    color: #E3B873;
}

.btn {
    box-sizing: border-box;
    border: none;
    background-color: #E3B873;
    color: #FFFFFF;
    border-radius: 2px;
    text-transform: uppercase;
}

    .btn:hover {
        cursor: pointer;
    }

.header__btn {
    font-style: italic;
    text-transform: uppercase;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    padding: 13px 33px;
}

.top {
    height: calc(100vh - 83px);
    background-image: url(../img/image\ 4.3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    color: #FFFFFF;
}

.top__overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.top__wrapper {
    box-sizing: border-box;
    width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
}

.top__inner {
    box-sizing: border-box;
    width: 520px;
    padding-top: 16.3%;
}

.top__title {
    font-size: 40px;
    line-height: 53px;
    margin-bottom: 19px;
}

.title__mark {
    color: #E3B873;
}

.top__text {
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 24px;
}

.top__btn1, .top__btn2 {
    font-size: 11px;
    font-style: italic;
    text-decoration: none;
}

.top__btn1 {
    padding: 20px 42px;
    margin-right: 20px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.top__btn2 {
    padding: 19px 23px;
    background: none;
    border: 1px solid #FFFFFF;
}

.projects {
    background-color: #131313;
    height: 1074px;
}

.projects__wrapper {
    box-sizing: border-box;
    width: 1190px;
    padding: 107px 10px;
    margin: 0 auto;
    display: flex;
}

.projects__description {
    box-sizing: border-box;
    padding-right: 50px;
    width: 492px;
    
    position: relative;
}

.projects__title {
    font-size: 27px;
    color: #E3B873;
    max-width: 255px;
    margin-top: 70px;
    margin-bottom: 34px;
}

.projects__text {
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 42px;
}

.projects__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 31px;
}

.cell_title {
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;
    margin-bottom: 9px;
}

.cell__text {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.mobile-slider {
    display: none;
}

.mobile-slider__nav {
    display: none;
}

.slider__nav {
    box-sizing: border-box;
    width: 205px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.slider__button:hover {
    cursor: pointer;
}

.slider__button-ar {
    border: none;
    background: none;
    width: 42px;
    height: 14px;
    background-image: url(../img/arrow.svg);
    margin-right: 12px;
}

.slider__button-ar_reverse {
    margin-right: 0;
    margin-left: 12px;
    transform: rotate(180deg);
}

.slider__button-pt {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.3);;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50%;

}

.slider__button-pt_active {
    background-color: #FFFFFF;
}

.slider__tabs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    margin-bottom: 45px;
}

.slider__tab {
    font-family: 'Yeseva One';
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    background: none;
    border: none;

    height: 24px;
}

    .slider__tab:first-child {
        justify-self: start;
    }

    .slider__tab:last-child {
        justify-self: end;
    }

.slider__tab_active {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.slider__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.slider__img {
    display: none;
}

.slider__img_active {
    display: unset;
}


.online-control {
    margin-top: -324px;
    margin-bottom: 140px;
}

.online-control__wrapper {
    box-sizing: border-box;
    width: 817px;
    padding: 0 10px;
    margin: 0 auto;
}

.section__title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}

.online-control__title {
    color: #FFFFFF;
    margin-bottom: 12px;
}

.section__icon {
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 31px;
    display: flex;
    align-items: center;
}

    .section__icon::before {
        content: url(../img/line.svg);
        height: 28px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: right center;
        margin-right: 25px;
    }

    .section__icon::after {
        content: url(../img/line.svg);
        height: 28px;
        width: 32px;
        background-repeat: no-repeat;
        background-position: right center;
        margin-left: 25px;
    }

.online-control__player {
    position: relative;
    margin-bottom: 48px;
}

    .online-control__player::after {
        content: url(../img/line2.svg);
        position: absolute;
        bottom: -62px;
        left: calc(50% - 27.5px);
    }


.hidden{
    opacity: 0;
}
    .hidden_big {
        transform: scale(400%);
    }


.online-control__video {
    display: block;
    position: relative;
    width: 100%;
}

.player__controls {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player__overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.play-btn {
    padding: 0;
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background-color: #E3B873;
    background-image: url(../img/triangle.svg);
    background-repeat: no-repeat;
    background-position: 55% center;
    
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

    .play-btn:hover {
        cursor:pointer
    }

.online-control__text {
    width: 580px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    margin-bottom: 92px;
}

@keyframes marked {
    0% {
        background-color: #FFFFFF;
    }
  
    50% {
      background-color: rgba(0, 0, 0, 0.05);
    }

    100% {
        background-color: #FFFFFF;
    }
}

.request__container {
    width: 770px;
    margin: 0 auto;
}
    .online-control__text:target + .request__container {
        animation: 1s marked;
    }

.request__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 33px;
}

.field__label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.request__field {
    width: 241px;
}

.field__input {
    height: 25px;
    width: 100%;
    border: none;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

    .field__input:focus {
        outline: 0;
    }

.request__btn {
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    width: 200px;
    height: 51px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.request__checkbox {
    width: fit-content;
    margin: 0 auto;
    margin-top: 33px;
}

.checkbox__label {
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.checkbox__label:hover {
    cursor: pointer;
}

.checkbox {
    display: none;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 1px;
  }
.fake::before {
    content: url(../img/check-mark.svg);
    opacity: 0;
    transition: .2s;
}
  
.checkbox:checked + .fake::before {
    opacity: 1;
}

.checkbox__text {
    padding-left: 4px;
    padding-top: 2px;
}

.types__wrapper {
    box-sizing: border-box;
    max-width: 1236px;
    margin: 0 auto;
}

.types__title {
    margin-bottom: 13px;
}

.types__icon {
    margin-bottom: 31px;
}

.types__cards {
    margin-bottom: 62px;
}

.cards__list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards__item {
    list-style-type: none;
    max-width: 392px;
}

.cards__figure {
    margin: 0;
    margin-bottom: -28px;
    width: 100%;
}

.cards__img {
    width: 100%;
}

.cards__caption {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    max-width: 330px;
    margin: 0 auto;
    margin-top: -98px;
    padding: 25px 31px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.caption__title {
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    text-transform: none;
    margin-bottom: 13px;
}

.caption__list {
    padding-left: 13px;
}

.caption__item {
    list-style-type: disc;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.cards__button {
    position: relative;
    z-index: 2;
    padding: 15px 18px;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    margin-left: 31px; 
}

.request-section {
    background-image: url(../img/image\ 6.1.png);
    background-repeat: no-repeat;
    background-position: top -50px left;
    padding-top: 62px;
    margin-bottom: 242px;
}

.request-section__wrapper {
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.stages__list {
    padding: 0;
    padding-left: 150px;
    width: 400px;
}

.stages__item {
    list-style: none;
    display: flex;
    align-items: center;
}

    .stages__item:not(:last-child) {
        margin-bottom: 100px;
    }

.item__num {
    width: 42px;
    height: 42px;
    background-color: #E3B873;
    border-radius: 50%;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;

    margin-right: 10px;
}

.stages__text {
    max-width: 316px;
    font-size: 14px;
    line-height: 19px;

    color: #363636;
}


.request-section__request-block {
    width: 506px;
}

.request-block__form {
    box-sizing: border-box;
    width: 100%;
    padding: 27px 49px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.form__text {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    max-width: 273px;
    margin: 0 auto;
    margin-bottom: 38px;
}

.request-block__field .field__label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.request-block__field {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 48px;
}

    .request-block__field:nth-child(4) {
        margin-bottom: 16px;
    }

    .request-block__field .field__input {
        background: none;
        color: #FFFFFF;
    }

        .request-block__field .field__input::placeholder {
            color: #FFFFFF;
        }

.request-block__checkbox {
    margin: 0;
    margin-bottom: 39px;
}

.request-block__btn {
    align-self: flex-end;
    font-style: italic;
}

.piggy-bank {
    display: flex;
    align-items: center;

    margin-top: 38px;
    padding-left: 32px;
}

.piggy-bank__container {
    width: 72px;
    height: 72px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background-color: #E3B873;
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.piggy-bank__text {
    color: #E3B873;
    width: 200px;
}

.gallery {
    background-image: url(../img/image\ 5.1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

    .gallery::after {
        z-index: 0;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
    }

.gallery__wrapper {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    max-width: 1240px;
    height: 864px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.gallery__nav-container {
    padding-top: 137px;
    padding-bottom: 97px;
    max-width: 420px;
}

.gallery__title {
    max-width: 300px;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;

    margin-bottom: 47px;
}

.gallery__list {
    margin: 0;
    padding: 0;
}

.gallery__item {
    list-style-type: none;
}

    .gallery__item:not(:last-child) {
        margin-bottom: 25px;
    }

.gallery__button {
    text-transform: none;
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    color: #FFFFFF;
}

    .gallery__button_active {
        color: #E3B873;
        border-bottom: 1px solid #E3B873;
    }

.gallery__gallery-slider {
    display: flex;
    gap: 38px;
    height: 1017px;
    margin-top: -117px;
}

.gallery-slider__col {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 38px;
    max-width: 354px;
}

    .gallery-slider__col:first-child {
        align-self: self-end;
    }

.gallery-slider__img {
    width: 100%;
}

.reviews {
    padding-top: 110px;
    padding-bottom: 354px;
    position: relative;
}

    .reviews::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/background-city.svg);
        background-repeat: repeat-x;
        background-position: bottom;

        opacity: 0.05;

    }

.reviews__wrapper {
    max-width: 1236px;
    margin: 0 auto;
}

.reviews__title {
    margin-bottom: 13px;
}

.rewiews__icon {
    margin-bottom: 24px;
}

.reviews__text {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 39px;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.reviews__cards .cards__item {
    max-width: 376px;
}

.cards__container {
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);

    padding: 24px 50px 90px 20px;
}

.cards__client {
    display: flex;
    align-items: center;
    text-transform: none;
    margin-bottom: 22px;
}

.client__photo {
    margin-right: 30px;
    width: 76px;
    height: 76px;
    object-fit: cover;
    object-position: center center;
}

.client__name {
    max-width: 210px;
}

.cards__text {
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin-bottom: 5px;
}

.cards__info {
    display: flex;
    background: #E3B873;
    max-width: fit-content;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);

    margin-top: -27px;
}

.info__data {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 54px;
}

.info__area {
    width: 135px;
    border-right: 1px solid #FFFFFF;
}

.info__term {
    width: 158px;
}

.info__text {    
    font-family: 'Yeseva One';
    font-size: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: fit-content;
}

.contacts {
    background-color:#181818;
    background-image: url(../img/image\ 7.2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-top: 10px;
    padding-bottom: 65px;
}

    .contacts::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.9) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    }

.contacts__wrapper {
    position: relative;
    z-index: 1;
    max-width: 925px;
    margin: 0 auto;
}

.contacts__question-form {
    box-sizing: border-box;
    max-width: 883px;
    padding: 34px 182px;
    background-color: #131313;
    margin: -232px auto 52px auto;
}

.question-form__title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    
    margin-bottom: 45px;
}

.question-form__container {
    display: flex;
    justify-content: space-between;
    gap: 58px;
}

.question-form__field {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin-bottom: 46px;
}
    .question-form__field .field__label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }

    .question-form__field .field__input {
        color: #FFFFFF;
    }

    .question-form__field .field__input::placeholder {
        color: #FFFFFF;
    }

.question-form__checkbox {
    margin-bottom: 50px;
}

.question-form__checkbox .checkbox__label {
    color: #FFFFFF;
}

.question-form__btn {
    display: block;
    margin: 0 auto;
}

.address__text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;

    color: #E3B873;
}

.address__tel {
    text-decoration: none;
    color: #E3B873;
}

.contacts__links {
    display: flex;
    justify-content: center;
    gap: 15px;

    margin-top: 26px;
    margin-bottom: 43px;
}

.contacts__link {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E3B873;
}

.contacts__map {
    max-width: 100%;
}

.map__inner {
    max-width: 100%;
}

.map__img {
    max-width: 100%;
}


.footer {
    font-size: 11px;
    background-color: #181818;
}

.footer__container {
    height: 133px;
}






@media (max-width: 1300px) {
    .header__nav, .header__btn {
        display: none;
    }
    
    body {
        min-width: 336px;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .mobile-wrapper {
        width: 100%;
        max-width: 480px;
        min-width: 320px;
        margin: 0;
        padding: 0px 18px;
    }

    .header__container {
        height: 57px;
        width: 100%;
        max-width: 580px;
        padding: 0 18px;
        margin: 0;
    }

    .header__tel {
        color: #FFFFFF;
        text-decoration: none;
    }

    .top {
        height: calc(100vh - 57px);
        max-height: 1080px;
        min-height: 480px;
    }
    
    .top__overlay {
        display: flex;
        justify-content: center;
    }

    .top__wrapper {
        padding-top: calc(20vh - 85px);
    }

    .top__inner {
        width: 100%;
        max-width: 339px;
        min-width: 300px;
        padding-top: 85px;
        padding-bottom: 61px;
    }

    .top__title {
        font-size: 23px;
        line-height: 132.83%;
        max-width: 300px;
        margin-bottom: 16px;
    }

    .top__text {
        font-size: 14px;
        line-height: 135.84%;
        max-width: 300px;
    }

    .btn {
        border-radius: 0;
        width: 100%;
        min-width: 300px;
    }

    .top__btn1 {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .top__btn1, .top__btn2 {
        display: block;
        text-align: center;
    }

    .projects {
        display: flex;
        justify-content: center;
        height: fit-content;
    }

    .projects__wrapper {
        padding: 36px 18px;
        flex-direction: column;
        align-items: center;
    }

    .projects__description {
        padding-right: 0px;
        width: 100%;
        max-width: 768px;
        min-width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__title {
        max-width: 220px;
        margin-top: 0;
        margin-bottom: 22px;
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        letter-spacing: -0.07em;
    }

    .projects__text {
        max-width: 470px;
        text-align: center;
        font-size: 11px;
        line-height: 158.48%;
    }

    .mobile-slider {
        display: block;
        width: 100%;
        margin-bottom: 36px;
        position: relative;
    }

    .mobile-slider__nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: calc(50% - 18px);
    }

    .mobile-slider__img {
        display: none;
        width: 100%;
    }

    .mobile-slider__img_active {
        display: unset;
    }

    .mobile-slider__ar {
        border: 0;
        width: 36px;
        height: 36px;
        background-color: #E3B873;
        background-image: url(../img/arrow-mobile.svg);
        background-repeat: no-repeat;
        background-position: 55% center;
        border-radius: 50%;
        margin-right: 13px;
    }

    .mobile-slider__ar_left {
        transform: rotate(180deg);
        margin-right: 0;
        margin-left: 13px;
    }

    .projects__table {
        grid-template-rows: 68px 68px;
        row-gap: 25px;
    }

    .cell_title {
        font-size: 14px;
        line-height: 138.6%;
    }

    .cell__text {
        font-size: 11px;
        line-height: 18px;
    }

    .slider__nav, .projects__slider {
        display: none;
    }

    .online-control {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #131313;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .online-control__title {
        font-size: 22px;
        line-height: 138.6%;
    }

    .online-control__player {
        margin-bottom: 51px;
    }

        .online-control__player::after {
            content: url(../img/line2.svg);
            position: absolute;
            bottom: -28px;
            left: calc(50% - 27.5px)
        }

    .play-btn {
        transform: scale(43%);
        cursor: default;
    }

    .hidden_big {
        transform: scale(190%);
    }

    .online-control__text {
        color: #FFFFFF;
        width: 100%;
        margin-bottom: 75px;
    }

    .request__container {
        width: 100%;
    }

    .request__wrapper {
        flex-direction: column;
        width: 100%;
        margin-bottom: -25px;
    }

    .request__checkbox {
        margin: 0;
        margin-top: 25px;
        align-self: start;
        order: 1;
    }

    .request__field {
        width: 100%;
    }
    
        .request__field:first-child{
            margin-bottom: 40px;
        }

    .field__label {
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }

    .field__input {
        box-sizing: border-box;
        width: 100%;
        background: none;
        color: #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
    }

        .field__input::placeholder {
            color: #FFFFFF;
        }

    .request__btn {
        order: 2;
        margin-top: 62px;
    }

    .checkbox__label {
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }

    .types {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .types__wrapper {
        flex-direction: column;
    }
    
    .types__title {
        margin-top: 83px;
        margin-bottom: 17px;
    }

    .types__icon {
        margin-bottom: 40px;
    }

    .types__cards {
        margin-bottom: 90px;
    }

    .cards__list {
        flex-direction: column;
        gap: 60px;
        max-width: 100%;
    }

    .cards__item {
        max-width: 100%;
    }

    .cards__figure {
        margin-bottom: -10px;
    }

    .cards__caption {
        max-width: calc(100% - 70px);
        min-width: 260px;
        margin: 0;
        margin-top: -40%;
        padding-bottom: 40px;
        background-color: #FFFFFF;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }

    .caption__title {
        font-size: 15px;
        line-height: 138.6%;
    }

    .caption__item {
        line-height: 22px;
    }

    .cards__button {
        box-sizing: border-box;
        max-width: calc(100% - 130px);
        min-width: fit-content;
        padding: 10px 18px;
        font-family: 'Yeseva One';
        font-size: 18px;
        line-height: 25px;
        text-transform: uppercase;
    
        margin-left: 0; 
    }

    .request-section {
        display: none;
    }

    .gallery {
        background-image: none;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

        .gallery::after {
            display: none;
        }
    
    .gallery__wrapper {
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        gap: 25px;
    }

    .gallery__nav-container {
        padding: 0;
    }

    .gallery__title {
        font-size: 22px;
        line-height: 138.6%;
        text-align: center;
        margin: 0 auto;
    }

    .gallery__list {
        display: none;
    }

    .gallery__gallery-slider {
        display: block;
        height: auto;
        width: 100%;
        height: 0;
        padding-bottom: 71%;
        margin-top: 0;
        position: relative;
    }

    .gallery-slider__col {
        align-items: flex-start;
        gap: 0px;
        max-width: 100%;
        width: 100%;
        height: 100%;
        overflow: hidden;
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .gallery-slider__img {
        display: none;
    }

        .gallery-slider__img_active {
            display: block;
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;    
        }

        .reviews {
            display: none;
        }

        .contacts {
            padding-top: 173px;
            padding-bottom: 0;
            background-image: none;
            margin-top: -121px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

            .contacts::after {
                display: none;
            }
            
        .contacts__wrapper {
            box-sizing: border-box;
        }

        .contacts__question-form {
            margin: 0;
            padding: 0;
            max-width: 100%;
            background: #181818;
        }

        .question-form__title {
            margin-bottom: 52px;
        }

        .question-form__container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 0px;
        }
        
        .question-form__field {
            margin-bottom: 63px;
        }

            .question-form__field:first-child {
                margin-bottom: 63px;
            }

            .question-form__field:nth-child(3) {
                margin-bottom: 21px;
        }

        .question-form__btn {
            margin-bottom: 46px;
        }

        .contacts__address {
            display: flex;
            flex-direction: column;
        }
        
        .contacts__map {
            order: -1;
            width: 100%;
            height: 0;
            padding-bottom: 75%;
            position: relative;
            margin-bottom: 41px;
        }

        .map__inner {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        .map__img {
            display: block;
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;    
        }

        .address__text {
            font-size: 18px;
        }

        .address__tel {
            white-space: nowrap;
        }

        .footer {
            display: none;
        }
}






@media (max-width: 320px) {

    body {
        min-width: 320px;
    }
    .mobile-wrapper {
        max-width: 320px;
        min-width: 0;
        margin: 0;
        padding: 0px 10px;
    }
    .projects__wrapper {
        padding: 36px 10px;
    }
}